@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.sidemenu {
  margin-top: 8rem;
}

.link {
  color: $white;
  text-decoration: none;
}

.active,
.active:hover {
  color: $blue-500;
  text-decoration: none;
  cursor: default;
}

.link:hover {
  color: $gray-500;
}
