@import "bootstrap/scss/functions";

$primary: #d4262f;

@import "bootstrap/scss/variables";

$table-hover-bg: rgba($primary, $table-hover-bg-factor);

$colors: map-remove($colors, "blue", "indigo", "purple", "pink", "red", "orange", "yellow", "green", "teal", "cyan");
$theme-colors: map-remove($theme-colors, "info", "warning", "success", "danger", "secondary");

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";

@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/card";
@import "bootstrap/scss/tables";

@import "bootstrap/scss/helpers/position";
@import "bootstrap/scss/utilities/api";

// @import "bootstrap"

@font-face {
  font-family: Conthrax;
  src: url("/fonts/conthrax-sb.ttf");
  font-display: swap;
}

.conthrax {
  font-family: Conthrax;
}

svg.align-text-sub {
  vertical-align: sub;
}

.text-indent {
  text-indent: 1.5rem;
}

@media (min-width: 576px) {
  .text-indent {
    text-indent: 2rem;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

.navbar .nav-link {
  font-family: Conthrax;
}

h2 > a:hover::after,
h3 > a:hover::after {
  content: "#";
  color: #aa1e26;
}

h2 > a,
h3 > a {
  color: inherit;
  text-decoration: inherit;
}

/* FOOTER */

footer {
  position: relative;
}

footer::before {
  position: absolute;
  content: "";
  background-image: url("/images/motif_white_103.png");
  height: 103px;
  width: 100%;
  opacity: 0.5;
}

@media (min-width: 576px) {
  footer::before {
    background-size: contain;
  }
}

.pt-130 {
  padding-top: 130px !important;
}

footer a,
footer .nav-link {
  color: inherit;
  text-decoration: none;
}

footer a:hover,
footer .nav-link:hover {
  color: var(--bs-primary);
}

.bouncingglobe {
  position: absolute;
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    top: 0;
    animation-timing-function: ease-in;
  }
  40% {
  }
  50% {
    top: 14px;
    animation-timing-function: ease-out;
  }
  55% {
    top: 12px;
    animation-timing-function: ease-in;
  }
  65% {
    top: 12px;
    animation-timing-function: ease-out;
  }
  100% {
    top: 0;
    animation-timing-function: ease-in;
  }
}

/* NAVBAR */

.link-addr:hover {
  color: var(--bs-primary);
  transition: color 0.2s ease;
}

.navbar-toggler {
  border-color: unset;
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: unset;
}

.navbar-toggler:not(.collapsed) .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggler:not(.collapsed) .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.navbar-toggler .bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--bs-light);
}

.navbar.bg-black .nav-link:not(.active):hover {
  color: var(--bs-primary);
}

/* TARIFS PAGE */

.table-bordered th:first-child,
.table-bordered td:first-child {
  border-width: 0 1px 0 0 !important;
}

.table-bordered th:last-child,
.table-bordered td:last-child {
  border-width: 0 0 0 1px !important;
}

/* DASHBOARD */

.bg-gray-300 {
  background-color: $gray-300;
}

.bg-gray-900 {
  background-color: $gray-900;
}
