@font-face {
  font-family: Conthrax;
  src: url("/fonts/conthrax-sb.ttf");
  font-display: swap;
}

.conthrax {
  font-family: Conthrax;
}

.nav-link,
h1,
h2 {
  font-family: Conthrax;
}

html,
body {
  padding: 0;
  margin: 0;
}

.navbar-toggler {
  border-color: unset;
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: unset;
}

.navbar-toggler:not(.collapsed) .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggler:not(.collapsed) .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.navbar-toggler .bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--bs-light);
}
