@font-face {
  font-family: Conthrax;
  src: url("/fonts/conthrax-sb.ttf");
  font-display: swap;
}

.conthrax {
  font-family: Conthrax;
}

.nav-link,
h1,
h2 {
  font-family: Conthrax;
}

html,
body {
  padding: 0;
  margin: 0;
}

.navbar-toggler {
  border-color: unset;
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: unset;
}
