@import "bootstrap/scss/functions";

$primary: #d4262f;

@import "bootstrap/scss/variables";

$table-hover-bg: rgba($primary, $table-hover-bg-factor);

$colors: map-remove($colors, "blue", "indigo", "purple", "pink", "red", "orange", "yellow", "green", "teal", "cyan");
$theme-colors: map-remove($theme-colors, "info", "warning", "success", "danger", "secondary");

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";

@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/card";
@import "bootstrap/scss/tables";

@import "bootstrap/scss/helpers/position";
@import "bootstrap/scss/utilities/api";

// @import "bootstrap"
