.transition_opacity_y_scale {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease 0.3s;
}

.transition_opacity_y_translateX {
  opacity: 0;
  transform: translateX(-4rem);
  transition: all 0.5s ease 0.65s;
}
