.contentEditableSpan:not(:empty):before {
  content: attr(data-content-before);
}

.contentEditableSpan:not(:empty):after {
  content: " " attr(data-content-after);
}

.cell {
  padding: 0;

  &:hover {
    cursor: text;
  }
}

.input {
  padding: 0.5rem;
  width: 100%;
  resize: none;
  &:focus,
  &:focus-visible {
    border: 0;
    outline: 0;
    background: transparent;
  }
  &:not(:focus) {
    color: inherit !important;
    border: 0 !important;
    background: transparent !important;
  }
}
